body {
  color: #333333;
  font-family: Arial;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to top left, #1a84b8, #7AD7F0);
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

footer {
  color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #f5f5f5;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 200px;
}

.main-content {
  flex-grow: 1;
}

input {
  border: 1px solid #4682B4 ;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #4682B4 ;
  background: #4682B4 ;
  color: white;
  padding: 8px;
}

/* a:link, a:visited {
  background-color: #f5f5f5;
  border: 2px solid #4682B4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #333333;
}

a:hover, a:active {
  background-color: #4682B4;
} */

.socials:link, .socials:visited {
  background-color: #7AD7F0;
  border: 2px solid #4682B4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #333333;
}

.socials:hover, .socials:active {
  background-color: #4682B4;
}